
.team-members-heading {

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;
margin-left: 9%;
margin-top: 5%;

color: #000000;
}


.container {
    font-family: 'DM Sans';

  grid-template-columns: repeat(4, 22%);
  display: grid;

  box-sizing: border-box;
 
  margin-left: 9%;
  margin-right: auto;
  max-width: 80%;
  /* max-height: 80%; */
  column-gap: 20px;
  row-gap: 80px;
  margin-top: 3rem;
  /* border: 1px solid green;  */
  

}

.container div {

    flex: 1 1 25%;
    text-align: start;
    /* max-width: 80%; */
    min-width: 80%;
    max-width: 80%;
    min-height: 90%;
    
    margin:auto;
    /* margin-bottom: 10px; */
    background: #FFFFFF;
    border-radius: 10px;
    /* border: 1px solid #000;  */

    word-wrap: break-word;
    word-break: break-all;  
    overflow: hidden;
    padding: 20px;

}



.member-card {

    /* height: 180px;
    width: 60%;
    padding: 10px;
    
    border-radius: 10px;
     */
    /* flex: 1 1 25%;
    padding: 5px; 
    box-sizing: border-box;*/
    
    
   
}


.member-name {

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
order: 0;
padding-left: 10px;
} 

.member-email {    

height: 20px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
padding-left: 10px;

color: #000000;

flex: none;
order: 1;

}
.pfp {
    padding-left: 10px;
}

.bell {    
    position: absolute;
    left: 97%;
    top: 3%;
    cursor: pointer;
}