.login-image{
    position: relative;
width: 170.84px;
height: 228.92px;
left: 45%;
top: 14rem;
}

.welcome-text {
    
height: 52px;
left: 32.19%;
right: 32.19%;
margin-bottom: 3rem;
margin-top: 14rem;

/* H1 */
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;

/* identical to box height */
text-align: center;

/* Colors / Black / 100% */
color: #000000;
}

.input-container {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;    
    
    position: absolute;
    width: 70%;
    height: 70%;
    
    top: 500px;
}

.google-button {

}