.menu {
    position: absolute;
    left: 0%;
    right: 94%;
    top: 0%;
    bottom: 0%;
}

.bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Colors / White / 100% */
    background: #ffffff;
    border-radius: 0px 20px 20px 0px;
}

.icon-8 {
    /* Icon 8 */

    position: absolute;
    left: 36.46%;
    right: 36.46%;
    top: 93.9%;
    bottom: 3.5%;

    
}

.logo {
    /* Logo */

    position: absolute;
    left: 31.25%;
    right: 31.25%;
    top: 4%;
    bottom: 92.4%;
}

.line {
    /* Line */
    position: absolute;
    left: 13.54%;
    right: 13.54%;
    top: 10.6%;
    bottom: 89.3%;

    
    /* Colors / Black / 100% */
    background: #000000;
    opacity: 0.2;
    border-radius: 71.5px;

}

.icon-1 {
    position: absolute;
left: 36.46%;
right: 36.46%;
top: 14.2%;
bottom: 83.2%;

}

.icon-2 {
    position: absolute;
    left: 36.46%;
    right: 36.46%;
    top: 23.8%;
    bottom: 73.6%;
    /* BOLD */

}

.icon-2-opaque {
    position: absolute;
    left: 36.46%;
    right: 36.46%;
    top: 23.8%;
    bottom: 73.6%;
    /* OPAQUE */    

}
